<div class="admin-form">
    <h1 class="admin-from-title">
        Activity logs
    </h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">User</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {{#each model.activitylogs.content as |user|}}
            <tr>
                <td> {{user.action}}</td>
                <td> {{user.user}}</td>
                <td> {{user.createdAt}}</td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>